{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Situator API",
    "description": "Para mais informações, acesse: https://seventh.atlassian.net/wiki/spaces/SITAPI/overview"
  },
  "host": "situator.entradasegura.com.br",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/accounts/{accountId}/divisions-settings": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns the settings of divisions from an account.",
        "operationId": "AccountDivisionsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AccountDivisionVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Creates a account division settings.",
        "operationId": "AccountDivisionsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the settings information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountDivisionVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/divisions-settings/{id}": {
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Modifies a account division settings.",
        "operationId": "AccountDivisionsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Account division id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the settings information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountDivisionVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "delete": {
        "tags": [
          "Divisions"
        ],
        "summary": "Deletes a account division settings.",
        "operationId": "AccountDivisionsApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Account division id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/account-manager/cameras": {
      "get": {
        "tags": [
          "AccountManagerCamerasApi"
        ],
        "summary": "Retorna a lista de câmeras da conta do usuário.",
        "description": "Esse endpoint será descontinuado em breve. Por favor, utilize o método:\r\nGET /api/accounts/{accountId:int}/cameras",
        "operationId": "AccountManagerCamerasApi_Get",
        "consumes": [],
        "produces": [
          "application/mobile+json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/account-manager/doors": {
      "get": {
        "tags": [
          "AccountManagerDoors"
        ],
        "summary": "Returns a list of doors from the current user's account.",
        "description": "This method returns only valid licensed doors.",
        "operationId": "AccountManagerDoors_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DoorStatusListVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/account-manager/servers/{serverId}/doors/{doorId}/open": {
      "put": {
        "tags": [
          "AccountManagerDoors"
        ],
        "summary": "Opens a door of the current user's account.",
        "description": "The user is not allowed to open a door from others account.",
        "operationId": "AccountManagerDoors_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The door was opened successfully."
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "503": {
            "description": "503 Service Unavailable - An error occurred on opening door."
          }
        }
      }
    },
    "/api/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns a list of accounts.",
        "operationId": "AccountsApi_Accounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AccountListVO[AccountListItemVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates an account.",
        "operationId": "AccountsApi_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns an account.",
        "operationId": "AccountsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AccountWrapperVO[AccountVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Modifies an account.",
        "operationId": "AccountsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Account data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/device-models-capabilities": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Returns devices capabilities of account.",
        "operationId": "AccountsApi_GetDeviceModelsCapabilities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.readFingerprint",
            "in": "query",
            "description": "Check there is device access fingerprint reader in an account.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filters.readFace",
            "in": "query",
            "description": "Check there is device access face reader in an account.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeviceModelCapabilities"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/people-schedulings/{schedulingId}/visitors": {
      "get": {
        "tags": [
          "Visitor Schedulings"
        ],
        "summary": "Returns the list of visitor's scheduling from an account",
        "description": "In the \"visitors\" object:\r\n\r\nIf \"id\" field has positive value, it means that the guest is a pre-visitor from Visitor table.\r\n\r\nIf \"personId\" field is filled, it means that the guest is a visiting person from Person table.\r\n\r\nif both have positive values, it means that pre-visitor from Visitor table has been converted to a visiting person from Person table.",
        "operationId": "AccountsPeopleSchedulingVisitors_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SchedulingVisitorsVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      }
    },
    "/api/accounts/{accountId}/people-schedulings/{schedulingId}/people-visitors": {
      "post": {
        "tags": [
          "Visitor Schedulings"
        ],
        "summary": "Adds people already registered in the system, to a visits scheduling.",
        "operationId": "AccountsPeopleSchedulingVisitors_AddPeopleVisitors",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "schedulingId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeopleVisitorsVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      }
    },
    "/api/accounts/{accountId}/vehicles": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Returns all vehicles from an account.",
        "operationId": "AccountsVehiclesApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "description": "If true, returns only vehicles that are active.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VehiclesWrapperVO[VehicleVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Creates a vehicle.",
        "operationId": "AccountsVehiclesApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Vehicle data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VehicleVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/vehicles/{vehicleId}": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Returns a vehicle details.",
        "operationId": "AccountsVehiclesApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VehicleWrapperVO[VehicleVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "put": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Edits a vehicle.",
        "operationId": "AccountsVehiclesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Vehicle data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VehicleVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Deletes a vehicle.",
        "operationId": "AccountsVehiclesApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/alarm-panels/{alarmPanelId}/panel-status": {
      "get": {
        "tags": [
          "AlarmsServicesApi"
        ],
        "summary": "Returns the status of an alarm panel.",
        "operationId": "AlarmsServicesApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "alarmPanelId",
            "in": "path",
            "description": "Alarm panel id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlarmStatusVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "402": {
            "description": "402 Payment Required - License expired, missing, or invalid."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "put": {
        "tags": [
          "AlarmsServicesApi"
        ],
        "summary": "Arms or disarms an alarm panel and returns its status.",
        "operationId": "AlarmsServicesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "alarmPanelId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveAlarmVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlarmStatusVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "402": {
            "description": "402 Payment Required - License expired, missing, or invalid."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/alarm-panels/{alarmPanelId}/partitions/{partitionId}/panel-status": {
      "get": {
        "tags": [
          "AlarmsServicesApi"
        ],
        "summary": "Returns the status of an alarm panel by partition id.",
        "operationId": "AlarmsServicesApi_GetByPartition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "alarmPanelId",
            "in": "path",
            "description": "Alarm panel id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "partitionId",
            "in": "path",
            "description": "Partition id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlarmStatusVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "402": {
            "description": "402 Payment Required - License expired, missing, or invalid."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/app-version": {
      "get": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Returns the application version in plain text format.",
        "description": "It doesn't requires authentication and it always returns 200 OK.",
        "operationId": "AppVersion_GetPlain",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          }
        }
      }
    },
    "/api/app-version.js": {
      "get": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Returns a javascript file that defines as global variable named \"AppVersion\".",
        "description": "It doesn't requires authentication and it always returns 200 OK.",
        "operationId": "AppVersion_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          }
        }
      }
    },
    "/api/authorizations": {
      "get": {
        "tags": [
          "Authorizations"
        ],
        "summary": "Return a list of authotizations.",
        "operationId": "AuthorizationsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AuthorizationListVO[AuthorizationApiVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          }
        }
      }
    },
    "/api/accounts/{accountId}/cameras": {
      "get": {
        "tags": [
          "Cameras"
        ],
        "summary": "Returns the list of cameras of an account.",
        "operationId": "CamerasApi_Cameras",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CameraListVO[CameraZoneVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns all common areas from an account.",
        "operationId": "CommonAreasApi_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommonAreaListVO[CommonAreaVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Creates a common area.",
        "operationId": "CommonAreasApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the common area information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommonAreaVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{id}": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns a common area details.",
        "operationId": "CommonAreasApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Common area id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommonAreaWrapperVO[CommonAreaVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Modifies a common area.",
        "operationId": "CommonAreasApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Common area id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the division information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommonAreaVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "delete": {
        "tags": [
          "Divisions"
        ],
        "summary": "Deletes a common area.",
        "operationId": "CommonAreasApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Common area id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{id}/doors": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns a list of doors of a common area that can be opened by virtual keys.",
        "operationId": "CommonAreasDoorsApi_GetDoors",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommonAreaDoorsListVO[CommonAreaDoorVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{commonAreaId}/doors-available": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns a list of doors available for a common area.",
        "operationId": "CommonAreasDoorsApi_GetDoorsAvailable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "commonAreaId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommonAreaDoorsListVO[CommonAreaDoorVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{commonAreaId}/doors": {
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Insert a door in the list of doors of a common area.",
        "operationId": "CommonAreasDoorsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "commonAreaId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommonAreaDoorInsertVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{commonAreaId}/servers/{serverId}/doors/{doorId}/move-order-down": {
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Move down the sequential order of a door between the others.",
        "operationId": "CommonAreasDoorsApi_MoveDoorOrderDown",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "commonAreaId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{commonAreaId}/servers/{serverId}/doors/{doorId}/move-order-up": {
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Move up the sequential order of a door between the others.",
        "operationId": "CommonAreasDoorsApi_MoveDoorOrderUp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "commonAreaId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/common-areas/{id}/servers/{serverId}/doors/{doorId}": {
      "delete": {
        "tags": [
          "Divisions"
        ],
        "summary": "Removes a door from a common area.",
        "operationId": "CommonAreasDoorsApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/credentials": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "Returns a list of credentials from an account.",
        "operationId": "CredentialsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CredentialListVO[CredentialDetailsVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Creates a credential.",
        "operationId": "CredentialsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Credential data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialCreateVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CredentialWrapperVO[CredentialDetailsVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/credentials/available": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "Returns a list of available credentials from an account.",
        "operationId": "CredentialsApi_GetAvailable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CredentialListVO[CredentialDetailsVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/credentials/{credentialId}": {
      "delete": {
        "tags": [
          "Credentials"
        ],
        "summary": "Deletes a credential.",
        "operationId": "CredentialsApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "credentialId",
            "in": "path",
            "description": "Credential id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/credentials/next-number": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "Returns the next available credential number.",
        "operationId": "CredentialsApi_NextLogicalNumber",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NextNumberVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/csv-import": {
      "post": {
        "tags": [
          "CsvApi"
        ],
        "operationId": "CsvApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CsvPersonVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The occurrence was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/CsvImportResultVO"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid.",
            "schema": {
              "$ref": "#/definitions/CsvImportResultVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/diagnostics": {
      "get": {
        "tags": [
          "DiagnosticsApi"
        ],
        "summary": "Returns the application diagnostics.",
        "description": "It doesn't requires authentication and it always returns 200 OK.",
        "operationId": "DiagnosticsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DiagnosticsVO"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DiagnosticsApi"
        ],
        "summary": "Returns the application diagnostics.",
        "description": "It doesn't requires authentication and it always returns 200 OK.",
        "operationId": "DiagnosticsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vo",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosticsEditVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          }
        }
      }
    },
    "/api/accounts/{accountId}/divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns all divisions from an account.",
        "operationId": "DivisionsApi_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "divisionLevel",
            "in": "query",
            "description": "Optional. Defines the hierarchy in divisions. Values: 0 = None;1 = Primary;2 = Secondary;3 = Tertiary",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DivisionListVO[DivisionVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Creates a division.",
        "operationId": "DivisionsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the division information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DivisionVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/divisions/{divisionId}": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Returns a division details.",
        "operationId": "DivisionsApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "divisionId",
            "in": "path",
            "description": "Division id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DivisionWrapperVO[DivisionVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Modifies a division.",
        "operationId": "DivisionsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "divisionId",
            "in": "path",
            "description": "Division id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object that contains the division information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DivisionVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "delete": {
        "tags": [
          "Divisions"
        ],
        "summary": "Deletes a division.",
        "operationId": "DivisionsApi_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "divisionId",
            "in": "path",
            "description": "Division id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/doors": {
      "get": {
        "tags": [
          "Doors"
        ],
        "summary": "Returns a list of doors from all accounts.",
        "description": "Returns only active and licensed doors.",
        "operationId": "DoorsApi_Doors",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "If set, returns the doors of an account.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "description": "If set, returns only active doors of an account.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DoorListVO[DoorVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/servers/{serverId}/doors/{doorId}": {
      "put": {
        "tags": [
          "Doors"
        ],
        "summary": "Opens a door of the current user's account.",
        "operationId": "DoorsApi_DoorsOpen",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "Server id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "description": "Door id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "description": "Integration data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The door was opened successfully."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "503": {
            "description": "503 Service Unavailable - An error occurred on opening door."
          }
        }
      }
    },
    "/api/accounts/{accountId}/servers/{serverId}/doors/{doorId}/state": {
      "get": {
        "tags": [
          "Doors"
        ],
        "summary": "Gets door state.",
        "operationId": "DoorsApi_GetState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "Server id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "doorId",
            "in": "path",
            "description": "Door id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DoorStateVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/vehicles/{vehicleId}/drivers": {
      "get": {
        "tags": [
          "Vehicle Drivers"
        ],
        "summary": "Returns a list of drivers of a vehicle.",
        "operationId": "DriversApi_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DriversWrapperVO[DriverVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/vehicles/{vehicleId}/drivers/{driverId}": {
      "get": {
        "tags": [
          "Vehicle Drivers"
        ],
        "summary": "Returns a driver details.",
        "operationId": "DriversApi_GetAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "Driver id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DriverWrapperVO[DriverVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Vehicle Drivers"
        ],
        "summary": "Adds a driver in the vehicles driver's list.",
        "operationId": "DriversApi_PostAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "Driver id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicle Drivers"
        ],
        "summary": "Removes a driver from the vehicles driver's list.",
        "operationId": "DriversApi_DeleteAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "driverId",
            "in": "path",
            "description": "Driver id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/vehicles/{vehicleId}/drivers-available": {
      "get": {
        "tags": [
          "Vehicle Drivers"
        ],
        "summary": "Returns a list of drivers available for a vehicle.",
        "operationId": "DriversApi_GetAvailableAsync",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Vehicle id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DriversWrapperVO[DriverVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Returns a list of events.",
        "operationId": "EventsApi_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "typeId",
            "in": "query",
            "description": " Values: 0 = None;10 = Manual;11 = ConnectionLoss;12 = SignalLoss;13 = MotionDetection;14 = Obstruction;15 = SceneryChange;16 = VirtualWall;17 = VirtualBarrier;18 = RemovedObject;19 = AbandonedObject;20 = InputOutput;22 = AuthorizedEntry;23 = AuthorizedExit;24 = DeniedEntry;25 = DeniedExit;26 = DuressEntry;27 = EmergencyPassword;28 = RemoteOpen;29 = RemoteClose;30 = AccidentallyOpen;31 = CorrectOpen;32 = CorrectClose;33 = General;34 = DuressExit;35 = AwakesDoorman;36 = ProgrammingChange;37 = CloningAttempt;38 = ManualBackup;39 = AutoBackup;40 = SDCardRemoved;41 = AwakesDoormanNotAttended;50 = OpeningTimeout;51 = DuplicatedCardEntry;52 = DuplicatedCardExit;53 = DoorViolated;54 = Passage;55 = DualPassage;56 = ZoneTriggered;57 = ArmingSubArea;58 = DisarmingSubArea;59 = TamperViolation;60 = FireAlarm;61 = SilentAlarm;62 = MedicalEmergency;63 = AuxiliaryPowerFailure;64 = EletricPowerFailure;65 = BatteryFailure;66 = BusVoltageFailure;67 = SirenFailure;68 = ExpanderModuleFailure;69 = CommunicationFailure;70 = ZoneShortCircuit;71 = ArmedAlarm;72 = AutomaticArmedAlarm;73 = DisarmedAlarm;74 = ForcedArmedAlarm;75 = InhibitedZone;76 = ZoneRestored;77 = TamperRestored;78 = AuxiliaryPowerRestored;79 = EletricPowerRestored;80 = BatteryRestored;81 = BusVoltageRestored;82 = SirenRestored;83 = ExpanderModuleRestored;84 = ShortCircuitRestored;85 = Panic;86 = Emergency;87 = HealthEmergency;88 = Assistance;89 = FailureCAN;90 = AssistedEntry;91 = IntercomActivated;92 = LowBattery;93 = SignalRS485Loss;94 = PlateDetected;95 = VehicleKnown;96 = VehicleUnknown;97 = VehicleVisitSchedulingKnown;98 = VehicleInactive;99 = ExceededTemperatureLimit;100 = WithoutWearingMask",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              19,
              20,
              22,
              23,
              24,
              25,
              26,
              27,
              28,
              29,
              30,
              31,
              32,
              33,
              34,
              35,
              36,
              37,
              38,
              39,
              40,
              41,
              50,
              51,
              52,
              53,
              54,
              55,
              56,
              57,
              58,
              59,
              60,
              61,
              62,
              63,
              64,
              65,
              66,
              67,
              68,
              69,
              70,
              71,
              72,
              73,
              74,
              75,
              76,
              77,
              78,
              79,
              80,
              81,
              82,
              83,
              84,
              85,
              86,
              87,
              88,
              89,
              90,
              91,
              92,
              93,
              94,
              95,
              96,
              97,
              98,
              99,
              100
            ]
          },
          {
            "name": "manualCreation",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EventListVO[EventVO]"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/exit-schedulings": {
      "get": {
        "tags": [
          "Exit Schedulings"
        ],
        "summary": "Returns a list of exit scheduling from an account.",
        "operationId": "ExitSchedulingApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.itemsPerPage",
            "in": "query",
            "description": "Items to take for pagination.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.currentPage",
            "in": "query",
            "description": "The current page of pagination.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.orderedBy",
            "in": "query",
            "description": "The order by field for pagination.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.ascending",
            "in": "query",
            "description": "Direction of ordering the results. (Ascending = true or Descending = false)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pagination.count",
            "in": "query",
            "description": "Returns the total records found.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.filters.name",
            "in": "query",
            "description": "Name of exist scheduling person",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.filters.document",
            "in": "query",
            "description": "Document of exit scheduling person",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.filters.status",
            "in": "query",
            "description": "Status of exit scheduling",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "enum": [
                0,
                1,
                2,
                3,
                4
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.filters.filterDate",
            "in": "query",
            "description": "Data de previsão de visita",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExitSchedulingWrapperVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      }
    },
    "/api/accounts/{accountId}/exit-scheduling/{accessTransactionId}": {
      "get": {
        "tags": [
          "Exit Schedulings"
        ],
        "summary": "Returns a exit scheduling an account.",
        "operationId": "ExitSchedulingApi_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accessTransactionId",
            "in": "path",
            "description": "Pagination data",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExitSchedulingDetailVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          }
        }
      },
      "put": {
        "tags": [
          "Exit Schedulings"
        ],
        "summary": "Edit an existing exit scheduling from an account.",
        "operationId": "ExitSchedulingApi_PutExitScheduling",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "description": "An object that contains exit scheduling information for editing.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExitSchedulingVO"
            }
          },
          {
            "name": "accessTransactionId",
            "in": "path",
            "description": "A valid scheduling Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      }
    },
    "/api/accounts/{accountId}/exit-scheduling": {
      "post": {
        "tags": [
          "Exit Schedulings"
        ],
        "summary": "Creates a new exit scheduling to an account.",
        "operationId": "ExitSchedulingApi_PostExitScheduling",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "description": "An object that contains the exit scheduling information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExitSchedulingVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EntityId"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      }
    },
    "/api/accounts/{accountId}/image": {
      "get": {
        "tags": [
          "Images",
          "Account Image"
        ],
        "summary": "Gets an account image.",
        "operationId": "ImagesApi_GetAccountImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AccountImageVO"
            }
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Images",
          "Account Image"
        ],
        "summary": "Sets an account image.",
        "operationId": "ImagesApi_PutAccountImage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vo",
            "in": "body",
            "description": "Base64 encoded image.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageEditVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AccountImageVO"
            }
          },
          "400": {
            "description": "400 Bad Request - The request is invalid."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
            "description": "403 Forbidden - The authenticated user profile doesn't have the required permissions."
          },
          "404": {
            "description": "404 Not Found - Entity not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Images",
          "Account Image"
        ],
        "summary": "Deletes an account image.",
        "operationId": "ImagesApi_DeleteAccountImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK - The request has succeeded."
          },
          "401": {
            "description": "401 Unauthorized - An authentication error occurred."
          },
          "403": {
[...]
